<a href="https://colab.research.google.com/github/arpitsharma27/PythonGames/blob/main/Uber_Yellow_TripData_201603.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Dictionary: https://www.nyc.gov/assets/tlc/downloads/pdf/data_dictionary_trip_records_yellow.pdf

In [1]:
import pandas as pd

In [5]:
! pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.10/dist-packages (1.5.16)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from kaggle) (2023.7.22)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from kaggle) (4.65.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.10/dist-packages (from kaggle) (8.0.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.10/dist-packages (from kaggle) (1.26.16)
Requirement already satisfied: bleach in /usr/local/lib/python3.10/dist-packages (from kaggle) (6.0.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.10/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->kaggle) (3.4)

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [10]:
! mkdir ~/.kaggle

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [12]:
!cp /content/drive/MyDrive/API/kaggle.json ~/.kaggle/kaggle.json

In [13]:
! chmod 600 ~/.kaggle/kaggle.json

In [20]:
!kaggle datasets download psvishnu/nyc-yellow-taxi-trip-records -f yellow_tripdata_2016-03.parquet

404 - Not Found - Not found

In [26]:
!kaggle datasets download -d yellow_tripdata_2016-03.parquet -p /content/drive/

not enough values to unpack (expected 3, got 2)

In [4]:
df=pd.read_parquet('/content/drive/MyDrive/API/Kaggle_NYC_Yellow_Taxi_Trip_Records/yellow_tripdata_2016-03.parquet')
df.to_csv('yellow_tripdata_201603.csv')

In [5]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2016-03-01 00:53:35,2016-03-01 00:57:11,1,0.0,1,N,226,226,3,4.0,0.5,0.5,0.0,0.0,0.3,5.3,None,None
1,1,2016-03-01 00:15:13,2016-03-01 00:15:26,1,0.0,1,N,145,145,2,2.5,0.5,0.5,0.0,0.0,0.3,3.8,None,None
2,1,2016-03-01 00:15:46,2016-03-01 00:16:00,1,0.0,1,N,145,145,2,2.5,0.5,0.5,0.0,0.0,0.3,3.8,None,None
3,1,2016-03-01 00:16:17,2016-03-01 00:16:23,1,0.0,1,N,145,145,2,2.5,0.5,0.5,0.0,0.0,0.3,3.8,None,None
4,1,2016-03-01 00:16:45,2016-03-01 00:18:14,1,0.0,1,N,145,145,2,3.0,0.5,0.5,0.0,0.0,0.3,4.3,None,None

In [6]:
frequency_count_pulocation=df['PULocationID'].value_counts()

In [7]:
from pandas.core.generic import Frequency
print(frequency_count_pulocation)

161    457856
237    443878
162    415768
186    414985
234    411960
        ...
187         2
59          1
103         1
204         1
84          1
Name: PULocationID, Length: 262, dtype: int64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12203824 entries, 0 to 12203823
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        int64
 4   trip_distance          float64
 5   RatecodeID             int64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   object
 18  airport_fee            object
dtypes: datetime64[ns](2), float64(8), int64(6), object(3)
memory usage: 1.7+ GB

In [9]:
df.describe()

,VendorID,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
count,1.220382e+07,1.220382e+07,1.220382e+07,1.220382e+07,1.220382e+07,1.220382e+07,1.220382e+07,1.220382e+07,1.220382e+07,1.220382e+07,1.220382e+07,1.220382e+07,1.220382e+07,1.220382e+07
mean,1.530679e+00,1.659803e+00,5.996823e+00,1.040293e+00,1.622378e+02,1.598973e+02,1.340664e+00,1.279809e+01,3.456233e-01,4.976800e-01,1.793435e+00,3.153097e-01,2.997442e-01,1.604987e+01
std,4.990579e-01,1.312403e+00,6.139841e+03,5.753225e-01,6.660513e+01,7.057642e+01,4.901522e-01,1.341351e+02,4.559850e-01,4.834723e-02,2.549486e+00,1.751345e+00,1.200400e-02,1.343949e+02
min,1.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-3.760000e+02,-5.850000e+01,-5.000000e-01,-2.000000e+01,-1.604000e+01,-3.000000e-01,-3.763000e+02
25%,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.130000e+02,1.070000e+02,1.000000e+00,6.500000e+00,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,3.000000e-01,8.750000e+00
50%,2.000000e+00,1.000000e+00,1.700000e+00,1.000000e+00,1.620000e+02,1.620000e+02,1.000000e+00,9.500000e+00,0.000000e+00,5.000000e-01,1.350000e+00,0.000000e+00,3.000000e-01,1.180000e+01
75%,2.000000e+00,2.000000e+00,3.180000e+00,1.000000e+00,2.320000e+02,2.330000e+02,2.000000e+00,1.450000e+01,5.000000e-01,5.000000e-01,2.360000e+00,0.000000e+00,3.000000e-01,1.776000e+01
max,2.000000e+00,9.000000e+00,1.907263e+07,9.900000e+01,2.650000e+02,2.650000e+02,4.000000e+00,4.294967e+05,8.000000e+01,7.930000e+01,8.500000e+02,1.410320e+03,3.000000e-01,4.295622e+05

In [13]:
df['trip_distance'].value_counts().sort_values(ascending=False)

0.90     278131
1.00     275106
0.80     274426
1.10     263175
0.70     258743
          ...
33.71         1
47.58         1
37.17         1
42.68         1
47.67         1
Name: trip_distance, Length: 4498, dtype: int64

In [14]:
df['PULocationID'].value_counts().sort_values(ascending=False)

161    457856
237    443878
162    415768
186    414985
234    411960
        ...
187         2
59          1
103         1
204         1
84          1
Name: PULocationID, Length: 262, dtype: int64

In [18]:
df.shape

(12203824, 19)

In [20]:
location=df.stack['PULocationID','DOLocationID']

TypeError: ignored

In [21]:
location=['PULocationID','DOLocationID']

In [22]:
values=df[location].melt(value_name='Stacked_Columns')['Stacked_Columns']

In [25]:
frequency_count=values.value_counts().sort_values(ascending=False)

In [31]:
pd.reset_option('display.max_rows')
pd.set_option('display.max_rows', None)

In [32]:
frequency_count

161    918880
237    831910
236    809033
170    791410
162    784172
230    776635
234    764012
186    754492
79     712904
48     701551
163    624882
142    619118
107    575179
68     571461
164    570363
239    562013
141    555278
249    476063
231    454101
138    450122
238    440665
229    435426
90     431217
140    425790
100    422473
263    417850
113    396929
246    396129
132    358038
264    351334
233    344031
137    323949
148    323709
114    323328
158    291258
262    290799
43     276847
50     273324
144    269259
143    259750
13     233023
211    218341
75     213419
87     196038
151    190025
166    153122
125    138339
74     130978
41     117266
261    112665
4      102620
88     101556
224     94488
7       85536
232     82194
24      74603
42      72673
255     66342
181     65723
256     61206
45      60591
244     58744
226     57867
145     54158
209     52976
33      51119
116     49024
112     47046
65      40790
80      38801
223     37863
97      37808
25      37784
265     35593
49      34384
152     33546
61      32643
37      31263
17      30905
129     28455
179     27435
146     27230
243     26603
66      23621
260     23504
40      22101
1       19959
189     19628
225     19601
52      18607
95      17949
36      17835
82      14843
89      13305
188     12772
12      12561
168     12102
193     11948
127     11583
14      11181
228     10694
106     10187
198      8838
83       7586
62       7545
257      7490
247      7137
202      7117
217      6372
70       5851
69       5837
196      5803
92       5715
195      5677
10       5645
157      5335
220      5218
216      5157
133      4721
54       4581
159      4558
160      4170
200      4043
130      3864
173      3863
56       3690
28       3592
177      3545
76       3544
134      3395
227      3313
26       3085
190      3032
119      2942
197      2894
135      2873
22       2782
165      2765
235      2707
169      2658
85       2648
219      2477
258      2471
39       2416
71       2391
241      2348
167      2336
72       2318
91       2278
67       2172
35       2158
18       2122
121      2064
93       2019
102      2010
123      2005
213      1913
34       1894
215      1850
259      1807
136      1806
182      1795
174      1751
16       1716
171      1689
131      1685
126      1660
208      1644
21       1639
185      1625
212      1585
252      1574
149      1559
147      1540
63       1507
242      1498
248      1482
194      1477
47       1471
210      1467
20       1435
155      1431
178      1410
191      1389
78       1324
250      1233
98       1209
53       1205
205      1201
192      1179
124      1176
29       1171
122      1147
218      1145
254      1126
77       1116
55       1101
180      1053
94       1017
11       1014
203       989
32        969
15        954
51        946
175       942
207       916
64        840
153       822
60        820
128       793
73        756
120       751
139       750
3         741
108       720
9         712
183       691
221       686
38        665
150       664
101       627
19        597
86        595
81        575
117       542
115       523
31        511
57        494
240       448
201       432
222       398
8         387
6         369
206       314
58        307
96        278
118       221
23        221
214       203
251       192
111       185
46        181
172       154
245       136
154       135
109       123
156       104
184       103
27         98
59         89
84         83
253        72
176        67
5          64
204        62
2          60
30         56
187        54
44         51
105        41
99         25
199         4
103         1
Name: Stacked_Columns, dtype: int64

In [39]:
fc=df['airport_fee'].value_counts().sort_values(ascending=False)

In [40]:
print(fc)

Series([], Name: airport_fee, dtype: int64)

In [43]:
df['airport_fee'].unique()

array([None], dtype=object)

In [44]:
df['congestion_surcharge'].unique()

array([None], dtype=object)

In [46]:
df['store_and_fwd_flag'].unique()

array(['N', 'Y'], dtype=object)

In [47]:
df['payment_type'].unique()

array([3, 2, 1, 4])

In [49]:
df['payment_type'].value_counts()

1    8125613
2    4015250
3      46733
4      16228
Name: payment_type, dtype: int64

In [50]:
df['extra'].value_counts()

 0.00     6149110
 0.50     3999341
 1.00     2005496
 4.50       47546
-0.50        1520
-1.00         602
-4.50          79
 5.50          31
 1.50          29
 0.02          14
 4.54           7
 4.72           6
 2.00           4
 1.23           3
 0.01           3
 3.00           2
 8.00           2
-0.45           2
 65.53          2
 0.11           2
 0.22           2
 2.50           2
 0.30           1
 0.05           1
 4.00           1
-0.40           1
 0.20           1
 5.00           1
 2.60           1
-41.70          1
-2.60           1
 0.80           1
 16.38          1
 28.00          1
 6.50           1
 1.30           1
 4.61           1
-58.50          1
 40.40          1
-11.20          1
 80.00          1
Name: extra, dtype: int64